<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation hide-for-large" id="swup-header">
  <div class="shrink cell" style="z-index: 10;">
    <a href="/" class="h1 sans-display text-lowercase" id="logo" data-toggler=".active">{{siteName}}</a>
  </div>
  <div class="shrink cell" style="z-index: 10;">

    <button class="hamburger hamburger--collapse" type="button" aria-label="Navigation" id="hamburger" data-toggle="overlayNavigation logo hamburger" data-toggler=".hamburger-inner--active">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>
</div>

<!-- Header -->
<div class="grid-x grid-padding-x grid-padding-y show-for-large align-justify navigation" id="swup-header" style="z-index: 14">
  <div class="shrink cell sans-display padding-top-2 padding-right-2 padding-bottom-0 padding-left-2 align-middle">
    <ul class="menu align-middle">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="shrink cell padding-top-2 padding-right-2 padding-bottom-0 padding-left-2 align-middle">
    <a href="/" class="h2 text-lowercase sans-display">{{ siteName }}</a>
  </div>
</div>
<!-- End  Header -->
