<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation hide-for-large" id="swup-header">
  <div class="shrink cell padding-bottom-0 " style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="h2 sans-display text-lowercase">{{siteName}}</a>
  </div>
  <div class="shrink cell padding-bottom-0 " style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="h2"><svg class="icon icon-menu"><use xlink:href="/assets/icons/symbol-defs.svg#icon-menu"></use></svg></a>
  </div>
</div>

<!-- Header -->
<div class="grid-x grid-padding-x grid-padding-y show-for-large align-justify navigation" id="swup-header" style="z-index: 14">
  <div class="shrink cell sans-display">
    <ul class="menu">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="shrink cell text-lowercase sans-display">
    <a href="/" class="h2">{{ siteName }}</a>
  </div>
</div>
<!-- End  Header -->
