<nav class="show-for-small-only full reveal secondary-background-color" id="overlayNavigation" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="grid-x grid-padding-x grid-padding-y align-center-middle" style="height: 100%">
    <div class="shrink cell text-center">

    <ul class="vertical menu align-center h3">
    <li><a href="/projects" data-close>Projects</a></li>
    <li><a href="/profile" data-close>Profile</a></li>
    <li><a href="/services" data-close>Services</a></li>
    <li><a href="/services" data-close>Contact</a></li>
    </ul>

    <div class="shrink cell text-center">
     <ul class="menu align-center">
        {% for block in socials.socials.all() %}
        {% switch block.type %}
          {% case "facebook" %}
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          {% case "instagram" %}
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
          {% case "twitter" %}
            <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
          {% endswitch %}
        {% endfor %}
      </ul>
    </div>

    </div>
  </div>
</nav>