@font-face {
  font-family: 'GTWalsheimProMedium';
  src: 
  url('../fonts/GTWalsheimProMedium.woff2') format('woff2'), 
  url('../fonts/GTWalsheimProMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: 
  url('../fonts/AdelleSans.woff2') format('woff2'), 
  url('../fonts/AdelleSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}