@font-face {
  font-family: 'GTWalsheimProMedium';
  src: 
  url('../fonts/GTWalsheimProMedium.woff') format('woff'), 
  url('../fonts/GTWalsheimProMedium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src: 
  url('../fonts/AdelleSans.woff') format('woff'), 
  url('../fonts/AdelleSans.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}