{% set bodyClass = 'page' %}

{% if entry.seoTitle | length %}
{% set title = entry.seoTitle %}
{% else %}
{% set title = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set description = entry.seoDescription %}
{% else %}
{% set title = entry.description %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}
<div class="wrapper">
<div class="grid-container">

  <!-- Copy -->
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell">
      {{entry.copy}}
    </div>
  </div>
  <!-- End Copy -->

</div>
</div>
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}