@font-face {
  font-family: 'GT Walsheim Pro Medium';
  src: 
  url('../fonts/gt-walsheim-pro-medium.woff2') format('woff2'), 
  url('../fonts/gt-walsheim-pro-medium.woff') format('woff'),
  url('../fonts/gt-walsheim-pro-medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adelle Sans Basic Regular';
  src: 
  url('../fonts/adelle-sans-basic-regular.woff2') format('woff2'), 
  url('../fonts/adelle-sans-basic-regular.woff') format('woff'),
  url('../fonts/adelle-sans-basic-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}