{% set bodyClass = 'projects' %}
{% set title = "Projects" %}

{% set projects = craft.entries
.section('projects')
.all() %}

{% extends "_layouts/site" %}


{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<div class="padding-1">

<!-- Projects -->
{% set projectCount = projects|length %}
<div class="grid-x grid-padding-x {% if projectCount > 2 %}align-left{% else %}align-center{% endif %}">
  {% for project in projects %}
    <div class="small-12 large-6 xxlarge-4 cell padding-top-1">
      <a href="{{ project.url }}">
      {% include "_includes/blocks/excerpt" %}
      </a>
    </div>
  {% endfor %}
</div>
<!-- End Projects -->

<!-- Extra Projects Text -->
<div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 large-6 xxlarge-4 cell">
      <h3>Further case studies to follow</h3>
    </div>
</div>
<!-- End Extra Projects Text -->

</div>

{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}
