---
layout: dark
---

<!-- Contact Image -->
<section class="contact__image">
  <div class="row">
    <div class="columns">
    	<img src="{{page.image}}">
    </div>
  </div>
</section>
<!-- End Profile Image -->

<!-- Contact -->
<section class="contact__contact">
  <div class="row">
    <div class="small-12 medium-3 columns">
    	<h3>Contact</h3>
    </div>
    <div class="small-9 columns">
    	{{page.contact-text | markdownify}}
    </div>
  </div>
</section>
<!-- End Contact -->

<!-- Enquiries -->
<section class="contact__enquiries">
<div class="row">
  <div class="small-12 medium-3 columns">
    <h3>Enquiries</h3>
  </div>
  
  <div class="small-12 medium-9 columns">
    <div class="row small-up-1 medium-up-3">
      {% for enquiry in page.enquiries %}
      <div class="columns contact__enquiry">
        <h4>{{ enquiry.title }}</h4>
        <p>{{ enquiry.name }}</p>
        <a href="mailto:{{ enquiry.contact }}">{{ enquiry.contact }}</a>
      </div>
      {% endfor %}
    </div>
  </div> 
</div>
</section>
<!-- End Enquiries -->

<!-- Additional -->
<section class="contact__additional">
<div class="row">
  <div class="small-12 medium-3 columns">
  	<h3>Additional</h3>
  </div>
  <div class="small-12 medium-9 columns">
  	<div class="row small-up-1 medium-up-3">
      {% for additional in page.additional %}
      <div class="columns contact__enquiry">
        <h4>{{ additional.title }}</h4>
        {{ additional.text | markdownify }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</section>
<!-- End Additional -->

<!-- Legal -->
<section class="contact__legal">
<div class="row">
  <div class="small-12 medium-3 columns">
  	<h3>Legal</h3>
  </div>
  <div class="small-12 medium-9 columns">
  	{{page.legal-text | markdownify}}
  </div>
</div>
</section>
<!-- End Additional -->