---
layout: light
---

<!-- Carousel -->
<div class="index__carousel">
  {% assign slide_documents = site.projects | sort: 'position' | where: "is-hero", "true" %}
  {% for slide in slide_documents %}
    <div class="index__carousel__cell" style="background-image: url({{slide.feature-image}})">
      <div class="expanded row collapse index__carousel__cell__text align-bottom">
        <div class="columns">
          <a href="{{ slide.url }}">{{slide.lead}}</a>
        </div>
        <div class="shrink columns show-for-large">
          <a href="{{ slide.url }}">View Project</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<!-- End Carousel -->

<!-- Page Wrapper -->
<div class="page">
  
<!-- About -->
<section class="index__about">
  <div class="row about__intro">
  	<div class="medium-10 large-8 columns">
      <h2>{{page.about-text}}</h2>
      <div class="more"><a href="/profile">Learn More</a></div>
  	</div>
  </div>
</section>
<!-- End About -->

<!-- Projects -->
<section class="index__projects">
  
  <div class="row index__projects__projects small-up-1 medium-up-2 large-up-2">
    {% assign projects = site.projects | sort: 'position' | where: "is-featured", "true" %}
    {% for project in projects %}
      <div class="columns">
      {% include excerpt-new.html %}
      </div>
    {% endfor %}
  </div>
</section>
<!-- End About -->

<!-- Services -->
<section class="index__services">
  <div class="row">
  	<div class="medium-10 large-8 columns">
      <h3>Services</h3>
      <p>{{page.services-text}}</p>
      <div class="more"><a href="/services">Learn More</a></div>
  	</div>
  </div>
</section>
<!-- End Services -->

<!-- Contact -->
<section class="index__contact">
  <div class="row">
  	<div class="medium-10 large-8 columns">
      <h3>Contact</h3>
      <p>{{page.contact-text}}</p>
  	</div>
  </div>
  
  <div class="row">
  	<div class="shrink columns">
    	<div class="index__contact__title">General Enquiries</div>
    	<a href="mailto:info@saari.co.uk">info@saari.co.uk</a>
    </div>
    
    <div class="columns">
    	<div class="index__contact__title">New Business</div>
    	<a href="mailto:nikke@saari.co.uk">nikke@saari.co.uk</a>
    </div>
  </div>
  
  <div class="row">
  	<div class="medium-10 large-8 columns">
      <div class="more"><a href="/contact">Learn More</a></div>
    </div>
  </div>
  
</section>
<!-- End Contact -->

</div>
<!-- End Page Wrapper -->