---
layout: dark
---

<!-- Projects -->
<section class="projects">
  
  <div class="row projects__intro">
  	<div class="columns">
      <h2>Case Studies</h2>
  	</div>
  </div>
  
  <div class="row projects small-up-1 medium-up-2 large-up-2">
    {% assign projects = site.projects | sort: 'position' %}
    {% for project in projects %}
      <div class="columns">
      {% include excerpt.html %}
      </div>
    {% endfor %}
  </div>
  
  <div class="row projects__intro">
  	<div class="columns">
      <h2>Further case studies to follow</h2>
  	</div>
  </div>
  
</section>
<!-- End About -->